C#/BT_230722/WebForm/Connected Services/Service/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNHANVIEN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NHANVIEN" nillable="true" type="tns:NHANVIEN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNHANVIEN" nillable="true" type="tns:ArrayOfNHANVIEN" />
  <xs:complexType name="NHANVIEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="DIACHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HONV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HSLUONG" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MANQL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPHONG" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NGAYSINH" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PHAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TENLOTNV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TENNV" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NHANVIEN" nillable="true" type="tns:NHANVIEN" />
  <xs:complexType name="ArrayOfPHONGBAN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PHONGBAN" nillable="true" type="tns:PHONGBAN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPHONGBAN" nillable="true" type="tns:ArrayOfPHONGBAN" />
  <xs:complexType name="PHONGBAN">
    <xs:sequence>
      <xs:element minOccurs="0" name="MAPHONG" type="xs:int" />
      <xs:element minOccurs="0" name="NGAYNHANCHUC" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TENPHONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRUONGPHONG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PHONGBAN" nillable="true" type="tns:PHONGBAN" />
</xs:schema>