C#/Student-MS/WebForm/Connected Services/Service/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53947/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:element name="HienThiLop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HienThiLopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="HienThiLopResult" nillable="true" type="q1:ArrayOfLop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimLop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maLop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimLopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="TimLopResult" nillable="true" type="q2:Lop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemLop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maLop" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tenLop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemLopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemLopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaLop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maLop" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tenLop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaLopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaLopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaLop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maLop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaLopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaLopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemLop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemLopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="TimKiemLopResult" nillable="true" type="q3:ArrayOfLop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HienThiSinhVien">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HienThiSinhVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="HienThiSinhVienResult" nillable="true" type="q4:ArrayOfSinhVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimSinhVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mssv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimSinhVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="TimSinhVienResult" nillable="true" type="q5:SinhVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemSinhVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mssv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hoTen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queQuan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="namSinh" type="xs:int" />
        <xs:element minOccurs="0" name="gioiTinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maLop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemSinhVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemSinhVienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaSinhVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mssv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hoTen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queQuan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="namSinh" type="xs:int" />
        <xs:element minOccurs="0" name="gioiTinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maLop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaSinhVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaSinhVienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaSinhVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mssv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaSinhVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaSinhVienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemSinhVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemSinhVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="TimKiemSinhVienResult" nillable="true" type="q6:ArrayOfSinhVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>