C#/Student-MS/WebForm/Connected Services/Service/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53947/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:element name="HienThiLop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HienThiLopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="HienThiLopResult" nillable="true" type="q1:ArrayOfLop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimLop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maLop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimLopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="TimLopResult" nillable="true" type="q2:Lop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemLop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maLop" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tenLop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemLopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemLopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaLop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maLop" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tenLop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaLopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaLopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaLop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maLop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaLopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaLopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemLop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemLopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="TimKiemLopResult" nillable="true" type="q3:ArrayOfLop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>