C#/Student-MS/WebForm/Connected Services/Service/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53947/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53947/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53947/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_HienThiLop_InputMessage">
    <wsdl:part name="parameters" element="tns:HienThiLop" />
  </wsdl:message>
  <wsdl:message name="IService1_HienThiLop_OutputMessage">
    <wsdl:part name="parameters" element="tns:HienThiLopResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TimLop_InputMessage">
    <wsdl:part name="parameters" element="tns:TimLop" />
  </wsdl:message>
  <wsdl:message name="IService1_TimLop_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimLopResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ThemLop_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemLop" />
  </wsdl:message>
  <wsdl:message name="IService1_ThemLop_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemLopResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SuaLop_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaLop" />
  </wsdl:message>
  <wsdl:message name="IService1_SuaLop_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaLopResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_XoaLop_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaLop" />
  </wsdl:message>
  <wsdl:message name="IService1_XoaLop_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaLopResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TimKiemLop_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemLop" />
  </wsdl:message>
  <wsdl:message name="IService1_TimKiemLop_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemLopResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HienThiSinhVien_InputMessage">
    <wsdl:part name="parameters" element="tns:HienThiSinhVien" />
  </wsdl:message>
  <wsdl:message name="IService1_HienThiSinhVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:HienThiSinhVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TimSinhVien_InputMessage">
    <wsdl:part name="parameters" element="tns:TimSinhVien" />
  </wsdl:message>
  <wsdl:message name="IService1_TimSinhVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimSinhVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ThemSinhVien_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemSinhVien" />
  </wsdl:message>
  <wsdl:message name="IService1_ThemSinhVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemSinhVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SuaSinhVien_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaSinhVien" />
  </wsdl:message>
  <wsdl:message name="IService1_SuaSinhVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaSinhVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_XoaSinhVien_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaSinhVien" />
  </wsdl:message>
  <wsdl:message name="IService1_XoaSinhVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaSinhVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TimKiemSinhVien_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemSinhVien" />
  </wsdl:message>
  <wsdl:message name="IService1_TimKiemSinhVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemSinhVienResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="HienThiLop">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HienThiLop" message="tns:IService1_HienThiLop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HienThiLopResponse" message="tns:IService1_HienThiLop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimLop">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TimLop" message="tns:IService1_TimLop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TimLopResponse" message="tns:IService1_TimLop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemLop">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ThemLop" message="tns:IService1_ThemLop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ThemLopResponse" message="tns:IService1_ThemLop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaLop">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SuaLop" message="tns:IService1_SuaLop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SuaLopResponse" message="tns:IService1_SuaLop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaLop">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/XoaLop" message="tns:IService1_XoaLop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/XoaLopResponse" message="tns:IService1_XoaLop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemLop">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TimKiemLop" message="tns:IService1_TimKiemLop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TimKiemLopResponse" message="tns:IService1_TimKiemLop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HienThiSinhVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HienThiSinhVien" message="tns:IService1_HienThiSinhVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HienThiSinhVienResponse" message="tns:IService1_HienThiSinhVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimSinhVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TimSinhVien" message="tns:IService1_TimSinhVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TimSinhVienResponse" message="tns:IService1_TimSinhVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemSinhVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ThemSinhVien" message="tns:IService1_ThemSinhVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ThemSinhVienResponse" message="tns:IService1_ThemSinhVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaSinhVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SuaSinhVien" message="tns:IService1_SuaSinhVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SuaSinhVienResponse" message="tns:IService1_SuaSinhVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaSinhVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/XoaSinhVien" message="tns:IService1_XoaSinhVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/XoaSinhVienResponse" message="tns:IService1_XoaSinhVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemSinhVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TimKiemSinhVien" message="tns:IService1_TimKiemSinhVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TimKiemSinhVienResponse" message="tns:IService1_TimKiemSinhVien_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HienThiLop">
      <soap:operation soapAction="http://tempuri.org/IService1/HienThiLop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimLop">
      <soap:operation soapAction="http://tempuri.org/IService1/TimLop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemLop">
      <soap:operation soapAction="http://tempuri.org/IService1/ThemLop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaLop">
      <soap:operation soapAction="http://tempuri.org/IService1/SuaLop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaLop">
      <soap:operation soapAction="http://tempuri.org/IService1/XoaLop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemLop">
      <soap:operation soapAction="http://tempuri.org/IService1/TimKiemLop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiSinhVien">
      <soap:operation soapAction="http://tempuri.org/IService1/HienThiSinhVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimSinhVien">
      <soap:operation soapAction="http://tempuri.org/IService1/TimSinhVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemSinhVien">
      <soap:operation soapAction="http://tempuri.org/IService1/ThemSinhVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaSinhVien">
      <soap:operation soapAction="http://tempuri.org/IService1/SuaSinhVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaSinhVien">
      <soap:operation soapAction="http://tempuri.org/IService1/XoaSinhVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemSinhVien">
      <soap:operation soapAction="http://tempuri.org/IService1/TimKiemSinhVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53947/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>