C#/Student-MS/WebForm/Connected Services/Service/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lop" nillable="true" type="tns:Lop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLop" nillable="true" type="tns:ArrayOfLop" />
  <xs:complexType name="Lop">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaLop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenLop" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lop" nillable="true" type="tns:Lop" />
  <xs:complexType name="ArrayOfSinhVien">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SinhVien" nillable="true" type="tns:SinhVien" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSinhVien" nillable="true" type="tns:ArrayOfSinhVien" />
  <xs:complexType name="SinhVien">
    <xs:sequence>
      <xs:element minOccurs="0" name="GioiTinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lop" nillable="true" type="tns:Lop" />
      <xs:element minOccurs="0" name="MSSV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaLop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NamSinh" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="QueQuan" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SinhVien" nillable="true" type="tns:SinhVien" />
</xs:schema>