C#/BT_170522/WebForm/Connected Services/Service/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56406/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56406/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56406/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetEducates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEducates" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEducates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEducatesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchEducate_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchEducate" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchEducate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchEducateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchKeywordEducates_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchKeywordEducates" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchKeywordEducates_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchKeywordEducatesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEducate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEducate" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEducate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEducateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditEducate_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEducate" />
  </wsdl:message>
  <wsdl:message name="IService1_EditEducate_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEducateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEducate_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEducate" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEducate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEducateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourses" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCourse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchKeywordCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchKeywordCourses" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchKeywordCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchKeywordCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCourse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCourse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCourse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClasses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClasses" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClasses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchClass_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchClass" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchClassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchKeywordClasses_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchKeywordClasses" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchKeywordClasses_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchKeywordClassesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddClass_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClass" />
  </wsdl:message>
  <wsdl:message name="IService1_AddClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditClass_InputMessage">
    <wsdl:part name="parameters" element="tns:EditClass" />
  </wsdl:message>
  <wsdl:message name="IService1_EditClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditClassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteClass_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClass" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjects" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchKeywordSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchKeywordSubjects" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchKeywordSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchKeywordSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_AddSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:EditSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_EditSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchKeywordStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchKeywordStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchKeywordStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchKeywordStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:EditStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_EditStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExamResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExamResults" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExamResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExamResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchExamResult_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchExamResult" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchExamResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchExamResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchKeywordExamResults_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchKeywordExamResults" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchKeywordExamResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchKeywordExamResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExamResult_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExamResult" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExamResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExamResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditExamResult_InputMessage">
    <wsdl:part name="parameters" element="tns:EditExamResult" />
  </wsdl:message>
  <wsdl:message name="IService1_EditExamResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditExamResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteExamResult_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExamResult" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteExamResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExamResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetEducates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEducates" message="tns:IService1_GetEducates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEducatesResponse" message="tns:IService1_GetEducates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchEducate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchEducate" message="tns:IService1_SearchEducate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchEducateResponse" message="tns:IService1_SearchEducate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchKeywordEducates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchKeywordEducates" message="tns:IService1_SearchKeywordEducates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchKeywordEducatesResponse" message="tns:IService1_SearchKeywordEducates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEducate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddEducate" message="tns:IService1_AddEducate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddEducateResponse" message="tns:IService1_AddEducate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEducate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditEducate" message="tns:IService1_EditEducate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditEducateResponse" message="tns:IService1_EditEducate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEducate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteEducate" message="tns:IService1_DeleteEducate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteEducateResponse" message="tns:IService1_DeleteEducate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCourses" message="tns:IService1_GetCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCoursesResponse" message="tns:IService1_GetCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchCourse" message="tns:IService1_SearchCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchCourseResponse" message="tns:IService1_SearchCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchKeywordCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchKeywordCourses" message="tns:IService1_SearchKeywordCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchKeywordCoursesResponse" message="tns:IService1_SearchKeywordCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCourse" message="tns:IService1_AddCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCourseResponse" message="tns:IService1_AddCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditCourse" message="tns:IService1_EditCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditCourseResponse" message="tns:IService1_EditCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCourse" message="tns:IService1_DeleteCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCourseResponse" message="tns:IService1_DeleteCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClasses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClasses" message="tns:IService1_GetClasses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClassesResponse" message="tns:IService1_GetClasses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchClass" message="tns:IService1_SearchClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchClassResponse" message="tns:IService1_SearchClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchKeywordClasses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchKeywordClasses" message="tns:IService1_SearchKeywordClasses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchKeywordClassesResponse" message="tns:IService1_SearchKeywordClasses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddClass" message="tns:IService1_AddClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddClassResponse" message="tns:IService1_AddClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditClass" message="tns:IService1_EditClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditClassResponse" message="tns:IService1_EditClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteClass" message="tns:IService1_DeleteClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteClassResponse" message="tns:IService1_DeleteClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSubjects" message="tns:IService1_GetSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSubjectsResponse" message="tns:IService1_GetSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchSubject" message="tns:IService1_SearchSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchSubjectResponse" message="tns:IService1_SearchSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchKeywordSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchKeywordSubjects" message="tns:IService1_SearchKeywordSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchKeywordSubjectsResponse" message="tns:IService1_SearchKeywordSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddSubject" message="tns:IService1_AddSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddSubjectResponse" message="tns:IService1_AddSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditSubject" message="tns:IService1_EditSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditSubjectResponse" message="tns:IService1_EditSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteSubject" message="tns:IService1_DeleteSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteSubjectResponse" message="tns:IService1_DeleteSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudents" message="tns:IService1_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentsResponse" message="tns:IService1_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchStudent" message="tns:IService1_SearchStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchStudentResponse" message="tns:IService1_SearchStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchKeywordStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchKeywordStudents" message="tns:IService1_SearchKeywordStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchKeywordStudentsResponse" message="tns:IService1_SearchKeywordStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddStudent" message="tns:IService1_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddStudentResponse" message="tns:IService1_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditStudent" message="tns:IService1_EditStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditStudentResponse" message="tns:IService1_EditStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteStudent" message="tns:IService1_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteStudentResponse" message="tns:IService1_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExamResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetExamResults" message="tns:IService1_GetExamResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetExamResultsResponse" message="tns:IService1_GetExamResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchExamResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchExamResult" message="tns:IService1_SearchExamResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchExamResultResponse" message="tns:IService1_SearchExamResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchKeywordExamResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchKeywordExamResults" message="tns:IService1_SearchKeywordExamResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchKeywordExamResultsResponse" message="tns:IService1_SearchKeywordExamResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExamResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddExamResult" message="tns:IService1_AddExamResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddExamResultResponse" message="tns:IService1_AddExamResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditExamResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditExamResult" message="tns:IService1_EditExamResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditExamResultResponse" message="tns:IService1_EditExamResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExamResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteExamResult" message="tns:IService1_DeleteExamResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteExamResultResponse" message="tns:IService1_DeleteExamResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEducates">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEducates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchEducate">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchEducate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchKeywordEducates">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchKeywordEducates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEducate">
      <soap:operation soapAction="http://tempuri.org/IService1/AddEducate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEducate">
      <soap:operation soapAction="http://tempuri.org/IService1/EditEducate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEducate">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteEducate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCourse">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchKeywordCourses">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchKeywordCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCourse">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCourse">
      <soap:operation soapAction="http://tempuri.org/IService1/EditCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClasses">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClasses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchClass">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchKeywordClasses">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchKeywordClasses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClass">
      <soap:operation soapAction="http://tempuri.org/IService1/AddClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditClass">
      <soap:operation soapAction="http://tempuri.org/IService1/EditClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjects">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchKeywordSubjects">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchKeywordSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/AddSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/EditSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchKeywordStudents">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchKeywordStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/EditStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExamResults">
      <soap:operation soapAction="http://tempuri.org/IService1/GetExamResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchExamResult">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchExamResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchKeywordExamResults">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchKeywordExamResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExamResult">
      <soap:operation soapAction="http://tempuri.org/IService1/AddExamResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditExamResult">
      <soap:operation soapAction="http://tempuri.org/IService1/EditExamResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExamResult">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteExamResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:56406/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>