C#/BT_170522/WebForm/Connected Services/Service/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56406/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:element name="GetEducates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetEducatesResult" nillable="true" type="q1:ArrayOfCT_DaoTao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEducate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEducateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="SearchEducateResult" nillable="true" type="q2:CT_DaoTao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchKeywordEducates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchKeywordEducatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="SearchKeywordEducatesResult" nillable="true" type="q3:ArrayOfCT_DaoTao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEducateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEducate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEducateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditEducateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEducate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEducateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEducateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetCoursesResult" nillable="true" type="q4:ArrayOfKhoaHoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="SearchCourseResult" nillable="true" type="q5:KhoaHoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchKeywordCourses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchKeywordCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="SearchKeywordCoursesResult" nillable="true" type="q6:ArrayOfKhoaHoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="educate_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="educate_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClasses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetClassesResult" nillable="true" type="q7:ArrayOfLop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="SearchClassResult" nillable="true" type="q8:Lop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchKeywordClasses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchKeywordClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="SearchKeywordClassesResult" nillable="true" type="q9:ArrayOfLop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="course_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClassResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="course_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditClassResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClassResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetSubjectsResult" nillable="true" type="q10:ArrayOfMonHoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="SearchSubjectResult" nillable="true" type="q11:MonHoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchKeywordSubjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchKeywordSubjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="SearchKeywordSubjectsResult" nillable="true" type="q12:ArrayOfMonHoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSubjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditSubjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSubjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetStudentsResult" nillable="true" type="q13:ArrayOfSinhVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="SearchStudentResult" nillable="true" type="q14:SinhVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchKeywordStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchKeywordStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="SearchKeywordStudentsResult" nillable="true" type="q15:ArrayOfSinhVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="place" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="class_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="place" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="class_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamResults">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetExamResultsResult" nillable="true" type="q16:ArrayOfKetQuaThi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchExamResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="student_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="times" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchExamResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="SearchExamResultResult" nillable="true" type="q17:KetQuaThi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchKeywordExamResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchKeywordExamResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="SearchKeywordExamResultsResult" nillable="true" type="q18:ArrayOfKetQuaThi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExamResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="student_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="times" type="xs:int" />
        <xs:element minOccurs="0" name="point" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExamResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExamResultResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExamResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="student_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="times" type="xs:int" />
        <xs:element minOccurs="0" name="point" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExamResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditExamResultResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExamResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="student_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="times" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExamResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteExamResultResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>