C#/BT_Chieu_020422/ASPNET_UI/Connected Services/Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60985/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60985/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SingleEquation_InputMessage">
    <wsdl:part name="parameters" element="tns:SingleEquation" />
  </wsdl:message>
  <wsdl:message name="IService_SingleEquation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SingleEquationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsPrime_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPrime" />
  </wsdl:message>
  <wsdl:message name="IService_IsPrime_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPrimeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_QuadraticEquation_InputMessage">
    <wsdl:part name="parameters" element="tns:QuadraticEquation" />
  </wsdl:message>
  <wsdl:message name="IService_QuadraticEquation_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuadraticEquationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Factorial_InputMessage">
    <wsdl:part name="parameters" element="tns:Factorial" />
  </wsdl:message>
  <wsdl:message name="IService_Factorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:FactorialResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CheckOddEvenNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckOddEvenNumber" />
  </wsdl:message>
  <wsdl:message name="IService_CheckOddEvenNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckOddEvenNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsTriangle_InputMessage">
    <wsdl:part name="parameters" element="tns:IsTriangle" />
  </wsdl:message>
  <wsdl:message name="IService_IsTriangle_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsTriangleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TriangleName_InputMessage">
    <wsdl:part name="parameters" element="tns:TriangleName" />
  </wsdl:message>
  <wsdl:message name="IService_TriangleName_OutputMessage">
    <wsdl:part name="parameters" element="tns:TriangleNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AverageTriangle_InputMessage">
    <wsdl:part name="parameters" element="tns:AverageTriangle" />
  </wsdl:message>
  <wsdl:message name="IService_AverageTriangle_OutputMessage">
    <wsdl:part name="parameters" element="tns:AverageTriangleResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SingleEquation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SingleEquation" message="tns:IService_SingleEquation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SingleEquationResponse" message="tns:IService_SingleEquation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPrime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsPrime" message="tns:IService_IsPrime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsPrimeResponse" message="tns:IService_IsPrime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuadraticEquation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/QuadraticEquation" message="tns:IService_QuadraticEquation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/QuadraticEquationResponse" message="tns:IService_QuadraticEquation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Factorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Factorial" message="tns:IService_Factorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FactorialResponse" message="tns:IService_Factorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckOddEvenNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CheckOddEvenNumber" message="tns:IService_CheckOddEvenNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CheckOddEvenNumberResponse" message="tns:IService_CheckOddEvenNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsTriangle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsTriangle" message="tns:IService_IsTriangle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsTriangleResponse" message="tns:IService_IsTriangle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TriangleName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/TriangleName" message="tns:IService_TriangleName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/TriangleNameResponse" message="tns:IService_TriangleName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AverageTriangle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AverageTriangle" message="tns:IService_AverageTriangle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AverageTriangleResponse" message="tns:IService_AverageTriangle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SingleEquation">
      <soap:operation soapAction="http://tempuri.org/IService/SingleEquation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPrime">
      <soap:operation soapAction="http://tempuri.org/IService/IsPrime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuadraticEquation">
      <soap:operation soapAction="http://tempuri.org/IService/QuadraticEquation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Factorial">
      <soap:operation soapAction="http://tempuri.org/IService/Factorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOddEvenNumber">
      <soap:operation soapAction="http://tempuri.org/IService/CheckOddEvenNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsTriangle">
      <soap:operation soapAction="http://tempuri.org/IService/IsTriangle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TriangleName">
      <soap:operation soapAction="http://tempuri.org/IService/TriangleName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AverageTriangle">
      <soap:operation soapAction="http://tempuri.org/IService/AverageTriangle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:60985/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>